name: lint

on: [push, pull_request, workflow_dispatch]

jobs:

  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # run static analysis on bleeding and trailing edges
        python-version: [ '3.8', '3.10', '3.12' ]
        django-version:
          - '3.2' # LTS April 2024
          - '4.2' # LTS April 2026
          - '5.0' # April 2025
        exclude:
          - python-version: '3.8'
            django-version: '4.2'
          - python-version: '3.12'
            django-version: '4.2'
          - python-version: '3.12'
            django-version: '3.2'
          - python-version: '3.10'
            django-version: '3.2'
          - python-version: '3.8'
            django-version: '5.0'
          - python-version: '3.10'
            django-version: '5.0'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install Dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry run pip install --upgrade pip
          poetry install
          poetry run pip install -U "django~=${{ matrix.django-version }}"
      - name: Run Static Analysis
        run: |
          source .venv/bin/activate
          isort django_typer --check
          black django_typer --check
          pylint django_typer
          mypy django_typer
          poetry check
          pip check
          python -m readme_renderer ./README.rst -o /tmp/README.html
          cd ./doc
          doc8 --ignore-path build --max-line-length 100
          echo "$(poetry env info --path)/bin" >> $GITHUB_PATH

      - name: Run pyright
        uses: jakebailey/pyright-action@v2
